/* Variables */

:root {
    --basic-white: #FFFFFF;
    --white: 255, 255, 255;
    --grey-backrground-yellow: #F8F7F4; 
    --grey-placeholder: #999999;
    --grey-basket-price: #C4C4C4;
    --grey-light-post:#5A5A5A;
    --grey-light-border: 178, 178, 178;
    --grey-border-login: #D3D3D2;
    --grey-dark-text: #323232;
    --grey-dark-line: 50, 50,50;
    --grey-darkness: #231F20; /* цвет ХИТ */
    --pink-light: #F26843;
    --pink-dark: #E74A35;
    --pink-selected: #FBDED7;
    --pink-selected-catalog: #D07058;
    --background-green: #849D8F;
    --background-blue: #8996A6;
    --background-red: #9D8B84;
    --background-white: #FEFEFE;
    --text-shadow-button: #a01f0b;
    --box-shadow-button: 172, 16, 0;
    --text-shadow-price: 49, 50, 53;
    --text-border-news: #353535;
    --black-shadow: #000000;
}

body {
    min-width: 1166px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: var(--basic-white);
    background-color: var(--background-green);
}
img {
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1200px;
    padding-left: 27px;
    padding-right: 27px;
    margin-left: auto;
    margin-right: auto;
}
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}  
.main-nav, .user-nav {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: var(--basic-white);
    display: flex;
}
.info-operating-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    margin-top: -13px;
    margin-right: 27px;
}
.header-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.slider-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promo-box {
    display: flex;
    justify-content: space-around;
}
.list-new-ice {
    display: none;
}
.site-nav {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.list-user-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.site-nav-items {
    padding-right: 9px;
    padding-left: 24px;
}
.user-nav {
    padding-top: 23px;
    padding-right: 5px;
    margin-left: auto;
}
.user-nav-items {
    text-decoration: none;
    background: rgba(var(--white), 0.2);
    padding: 8px 16px 8px 45px;
    border-radius: 20px;
}
.site-nav-items,
.user-nav-items {
    color: var(--basic-white);
}
.site-nav-items:hover,
.site-nav-items:focus,
.user-nav-items:hover,
.user-nav-items:focus {
    background-color: var(--basic-white);
    border-radius: 26px;
    color: var(--grey-dark-text);
}
.logo {
    padding-left: 27px;
    padding-top: 9px;
}
.search-link {
    position: relative;
    display: block;
    height: 16px;
    padding-left: 16px;
}
.user-nav-items-search {
    margin-right: 10px;
}
.icon-search {
    position: absolute;
    left: 8px;
}
.search-form {
    display: none;
}
.user-nav-items-login {
    margin-right: 10px;
}
.list-user-nav .login-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: block;
}
.login-link::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 19px;
    top: 6px;
    left: 16px;
    background-image: url("../img/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.login-form {
    display: none; 
}
.user-nav-items-basket {
    margin-right: 22px;
}
.basket-section {
    display: none;
}
.list-user-nav .basket-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: block;
}
.basket-link::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 20px;
    top: 6px;
    left: 16px;
    background-image: url("../img/basket-empty.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.text-operating-mode {
    font-size: 14px;
    font-weight: bold;
    line-height: 11px;
}
.phone-number {
    font-size: 22px;
    font-weight: bold;
    line-height: 18px;
    text-decoration: none;
    color: var(--basic-white);
}
.list-breadcrumbs {
    list-style: none;
    display: flex;
}
.breadcrumbs{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: var(--basic-white);
    border: 1px solid rgba(var(--white), 0.2);
}
.breadcrumbs-active{
    text-decoration: none;
}
.filter-form-box {
    display: flex;
    flex-wrap: wrap;
}
.sort-box {
    width: 196px;
}
.filter-price-box {
    width: 218px;
}
.fat-filter-box {
    width: 425px;
}
.extender-filter-box {
    width: 711px;
}
.hr-inline {
    display: flex;
}
.filter-form-button {
    text-decoration: none;
    border: none;
    width: 144px;
    height: 36px;
    color: var(--basic-white);
    font-size: 16px;
    line-height: 18px;
    border: 2px solid var(--basic-white);
    border-radius: 20px;
    background: rgba(var(--white), 0.2)
}
.title-filter {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.filter-other {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}
.slider-ice {
    list-style: none; 
}
.text-slider {
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
}
.item-slider {
    display: none;
}
.button {
    text-decoration: none;
    color: var(--basic-white);
    text-shadow: 0px 2px 5px rgba(var(--text-shadow-button), 0.76);
    border-radius: 70px;
    box-shadow: 0px 2px 2px rgba(var(--box-shadow-button), 0.64);
    background: linear-gradient(180deg, var(--pink-light) 0%, var(--pink-dark) 100%);
}
.slider-button {
    font-size: 32px;
    font-weight: bold;
    line-height: 44px;
}
.promo {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 560px;
}
.promo-box-button {
    align-self: flex-end;
}
.promo-raspberry {
    background-image: url("../img/raspberry.jpg");
}
.promo-chocolate {
    background-image: url("../img/chocolate.jpg");
}
.title-promo {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}
.text-promo {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
}
.list-hit {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-hit {
    width: 267px;
}
.title-hit {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    border-bottom: 1px solid rgba(var(--white), 0.2);
}
.list-hit .price {
    font-weight: bold;
    font-size: 45px;
    line-height: 45px;
    text-shadow: 0px 1px 3px rgba(var(--text-shadow-price), 0.5);
}
.list-hit .weight {
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-shadow: 0px 1px 3px rgba(var(--text-shadow-price), 0.5);
}
.ice-pic {
    border-radius: 50%;
}
.desc {
    background-image: url(../img/waffle.png);
    border-radius: 16px;
}
.title-desc {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: var(--grey-dark-text);
}
.list-desc {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.item-desc {
    width: 485px;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--grey-dark-text);
    padding-left: 55px;
}
.icon-ice {
    background: url(../img/icon-ice.svg) no-repeat 0;
}
.icon-list {
    background: url(../img/icon-list.svg) no-repeat 0;
}
.icon-cow {
    background: url(../img/icon-cow.svg) no-repeat 0;
}
.icon-grad {
    background: url(../img/icon-grad.svg) no-repeat 0;
}
.news-subscribe {
    display: flex;
    justify-content: space-between;
}
.aside {
    background-repeat: no-repeat;
    width: 560px;
    height: 220px;
    border-radius: 16px;
}
.news-section {
    background-image: url(../img/fon-strawberry.jpg);
    display: flex;
    flex-direction: column;
}
.subscribe {
    background-image: url(../img/fon-post.jpg);
}
.subscribe-section {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: var(--grey-backrground-yellow);
    width: 548px;
    height: 210px;
    background-repeat: no-repeat;
    border-radius: 16px;
}
.title-news {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--grey-dark-text);
}
.text-news {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;
    color: var(--grey-dark-text);
    border-bottom: 2px solid var(--text-border-news);
}
.text-subscribe {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: var(--grey-light-post)
}
.button-subscribe {
    text-decoration: none;
    color: var(--basic-white);
    text-shadow: 0px 2px 5px rgba(var(--text-shadow-button), 0.76);
    border: none;
    border-radius: 70px;
    box-shadow: 0px 2px 2px rgba(var(--box-shadow-button), 0.64);
    background: linear-gradient(180deg, var(--pink-light) 0%, var(--pink-dark) 100%);
}
.form-map {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-white);
    width: 303px;
    height: 306px;
    border-radius: 16px;
    color: var(--grey-dark-text);
}
.text-form {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.info {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: var(--grey-dark-text);
}
.list-pagination {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.list-pagination-items {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}
.list-pagination-items-active {
    background-color: var(--basic-white);
    border-radius: 50%;
    color: var(--grey-dark-text);
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.list-social {
    display: flex;
    list-style: none;
    margin-left: -13px;
}
.social {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
}
.icon-social {
    border: 2px solid rgba(var(--white), 0.5);
    border-radius: 50%;
}
.footer-info {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 32px;
    row-gap: 4px;
    margin-left: -23px;
}
.info-link {
    font-size: 13px;
    line-height: 18px;
}
.info-link .item-provider {
    position: relative;
    display: block;
    margin-top: -1px;
}
.item-provider::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 13px;
    top: 4px;
    left: -22px;
    background-image: url("../img/heart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
.item-provider {
    font-weight: bold;
    text-decoration: none;
    color: var(--basic-white);
    border-bottom: 1px solid rgba(var(--white), 0.2);
}
.item-information {
    font-weight: normal;
    text-decoration: none;
    color: var(--basic-white);
    border-bottom: 1px solid rgba(var(--white), 0.2);
}
.link-academy {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 26px;
}
.html-academy {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: var(--basic-white);
    border: 1px solid rgba(var(--white), 0.2);
}
.text-academy {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    color: var(--basic-white);
}
.feedback-form {
    display: none;
    width: 477px;
    height: 441px;
    border-radius: 6px;
    background-color: var(--grey-backrground-yellow);
}
.title-feedback {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--grey-dark-text);
}
.feedback-close {
    background-color: var(--grey-backrground-yellow);
    border: none;
}
.feedback-name {
    width: 267px;
    height: 44px;
    background-color: var(--basic-white);
    border: 1px solid rgba(var(--grey-light-border), 0.52); 
    border-radius: 4px;
}
.feedback-email {
    width: 267px;
    height: 44px;
    background-color: var(--basic-white);
    border: 1px solid rgba(var(--grey-light-border), 0.52); 
    border-radius: 4px;
}
.feedback-comment {
    width: 428px;
    height: 154px;
    background-color: var(--basic-white);
    border: 1px solid rgba(var(--grey-light-border), 0.52);
    border-radius: 4px;
}
.feedback-button {
    text-decoration: none;
    color: var(--basic-white);
    text-shadow: 0px 2px 5px rgba(var(--text-shadow-button), 0.76);
    border: none;
    border-radius: 70px;
    box-shadow: 0px 2px 2px rgba(var(--box-shadow-button), 0.64);
    background: linear-gradient(180deg, var(--pink-light) 0%, var(--pink-dark) 100%);
}
.login-form {
    width: 277px;
    height: 214px;
    border-radius: 4px;
    background-color: var(--grey-backrground-yellow);
    box-shadow: 0px 20px 20px rgba(var(--black-shadow), 0.4);
}
.login {
    width: 241px;
    height: 44px;
    background-color: var(--basic-white);
    border: 1px solid var(--grey-border-login);
    border-radius: 4px;
}
.password {
    width: 241px;
    height: 44px;
    background-color: var(--basic-white);
    border: 1px solid var(--grey-border-login);
    border-radius: 4px;
}
.button-login {
    text-decoration: none;
    color: var(--basic-white);
    text-shadow: 0px 2px 5px rgba(var(--text-shadow-button), 0.76);
    border: none;
    border-radius: 70px;
    box-shadow: 0px 2px 2px rgba(var(--box-shadow-button), 0.64);
    background: linear-gradient(180deg, var(--pink-light) 0%, var(--pink-dark) 100%);
}
.login-text {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration: none;
    color: var(--grey-dark-text);
    border-bottom: 1px solid rgba(var(--grey-dark-line), 0.3);;
}
.search-form {
    width: 341px;
    height: 84px;
    border-radius: 4px;
    background-color: var(--grey-backrground-yellow);
    box-shadow: 0px 20px 20px rgba(var(--black-shadow), 0.4);
}
.search {
    width: 311px;
    height: 44px;
    background-color: var(--basic-white);
    border: 1px solid var(--grey-border-login);
    border-radius: 4px;
}